table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  width: 100%;
}

input,
button {
  margin-bottom: 10px;
}

.pagination {
  text-align: center;
  margin: 25px;
  span {
    width: 20px;
    border: 1px solid;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
  }
}
